body {
    font-family: 'Balsamiq Sans', cursive;
    background-color: rgb(221, 220, 220);
    color:rgb(49, 64, 65);
	  width: 1000px;
    height: auto;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    font-size: 17.5px;
    column-span: all;
    background-image: url('img/pozadina4.jpg');
}

img {
    height: 90px;
    width: 95px;
    border-color: darkgoldenrod;
    border-style: solid;
    border-width: 3px;
    border-radius: 24px;
}

div {
    flex: auto;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}
  
/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}
  
/* Style the counter cards */
.card {
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.4);
    padding: 16px;
    text-align: center;
    background-image: url('img/food1.jpg');
    margin: 5px 5px;
    width: 290px;
    border-radius: 26px;
    border-style: solid;
    border-width: 2px;
    border-color: darkgoldenrod;

}

.border {
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      darkgoldenrod, 
      rgba(0, 0, 0, 0)
    ) 1 10% ;
}

.background-opacity {
  background-color: #e6d6c6;
  opacity: 0.8;
}

.background-div {
  background-color: #f1f1f1;
}

input {
  width: 175px;
  border-radius:9px;
  margin-bottom: 2px;
  border-style: solid;
  border-width: 2px;
  border-color: darkgoldenrod;
}

button {
  border-radius:9px;
  margin-bottom: 2px;
  background-color: rgb(149, 121, 49);;
  border-color: darkgoldenrod;
  color:rgb(221, 220, 220);
  height: 30px;
}

.tooltip .tooltiptext {
  border-color: darkgoldenrod;
  border-radius: 9px;
  border-width: 6px;
  visibility: hidden;
  width: 160px;
  background-color: #4779F4;
  color: #f1f1f1;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  opacity: 0.85;
  right: 2px;
  margin-top: 20px
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

details {
  border: 0.6px solid darkgoldenrod;
  border-radius: 8px;
  padding: .3em .3em 0;
}

summary {
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
}

details[open] {
  padding: .5em;
}

details[open] summary {
  margin-bottom: .5em;
}

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  width: 22%;
  left: 0;
  height: 90%;
}

/* Control the right side */
.right {
  width: 78%;
  right: 0;
  height: 95%;
}

.margin-br {
  margin-top: 25px;
}

.background-filters {
  background-color: rgb(240, 240, 230);
  opacity: 0.8;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.4);
}

.red {
  color: rgb(252, 48, 48);
}

.card:hover {
  color: rgb(238, 44, 102);
}

.work-time-width {
  width: 20px;
}

h1 {
  padding: 10px;
  text-align:center;
  letter-spacing: 5px;
  -webkit-text-stroke: 0.2px #edfcb9; 
  opacity: 0.87;
  border-color: #748a24;
  width:500px;
  margin: 20px auto;
  border-radius:9px;
  height: 10px;
  color: darkgoldenrod;
}

.summary-position {
  margin-top: 25px;
}

.align-center {
  display: flex;
}

.active {
  background-color: rgb(221, 67, 88);
}